body {
background-color: rgb(93, 173, 196);
font-family: "quicksand", serif;
}

.container {
    max-width: 777px;
    margin: 20px auto;
    background-color: rgb(252, 249, 242);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.1);
}

.form-example {
 font-size: 11px;
 color: rgb(31, 41, 74);
 margin: 5px 0px 5px 10px;
}
img {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 350px;
    border-radius: 10px;
}

h1 {
    font-family: "DM Serif Text", serif;
    background-color: rgb(252, 249, 242);
    padding: 15px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 400px;
    color: rgb(31, 41, 74);
    text-align: center;
    position: absolute;
    top: 76px;
    left: 280px;
    right: 277px;
}


h3 {
    font-family: "DM Serif Text", serif;
    max-width: 50%;
    color: rgb(31, 41, 74);
    display: block;
    margin: 10px auto;
    text-align: center;
    letter-spacing: 1px;
}

form {
    padding: 5px;
    margin-top: 13px;
    display: flex;
    background-color: rgb(252, 249, 242);
    border-radius: 15px;
    
}
.second-container {
    background-color: rgb(252, 249, 242);
    max-width: 800px;
    border-radius: 15px;
    margin: 20px auto;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.1);
}

#text-box {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: "scope one", serif;
    font-size: 16px;
    width: 88%;
    background-color: rgba(217, 235, 246, 0.5);
    color: rgb(31, 41, 74);
}

#submit-button {
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: rgb(31, 41, 74);
    background-color: rgb(189, 209, 75);
    font-family: "scope one", serif;
    font-size: 16px;
    margin: 0 10px;
}

#submit-button:hover {
    cursor: pointer;
    color: rgb(189, 209, 75);
    background-color: rgb(31, 41, 74) ;
    transition: all 300ms ease-in-out;
}

.recipe {
    color: rgb(31, 41, 74);
    margin: 0px 35px;
    padding: 20px;
    line-height: 25px;
}

.hidden {
    display: none;
}

footer {
    font-size: 12px;
    padding: 20px;
    margin-top: 400px;
    color: rgb(31, 41, 74);
    text-align: center;
    font-weight: bold;
}

a {
    color: rgb(189, 209, 75);
}

a:visited {
    color: rgb(248, 98, 73);
}